.Paper {
  margin: 16px auto;
  width: 800px;
}

.Wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1800px) {
  .Wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 80px;
  }
}
