.Divider {
  margin-top: 16px;
}

.Graph {
  height: 400px;
  width: 800px;
}

.Graph2 {
  height: 250px;
  width: 800px;
}

.Graph3 {
  height: 150px;
  width: 800px;
}

.Header {
  padding-top: 8px;
  text-align: center;
}

.Paper {
  margin: 16px auto;
  width: 800px;
}

.Switch {
  margin-left: 32px;
}
