.Divider {
  margin: 16px;
}

.Graph {
  height: 380px;
  width: 800px;
}

.Header {
  padding-top: 8px;
  text-align: center;
}

.Paper {
  height: 500px;
  margin: 16px 32px;
  width: 800px;
}

.TallGraph {
  height: 600px;
  width: 800px;
}
