.Divider {
  margin-top: 16px;
}

.MLGraph {
  height: 117px;
  width: 800px;
}

.Header {
  padding-top: 8px;
  text-align: center;
}

.Paper {
  margin: 16px auto;
  width: 800px;
}

.MLGraph text {
  fill: white !important;
  font-size: 20px !important;
  text-shadow: -1px -1px 0 rgb(125, 125, 125), 1px -1px 0 rgb(125, 125, 125),
    -1px 1px 0 rgb(125, 125, 125), 1px 1px 0 rgb(125, 125, 125);
}
