.BreadcrumbsLong {
  display: inline-block;
  justify-content: center;
  height: 40px;
  margin: 16px auto;
  margin-top: 80px;
  padding: 8px 16px;
}

.BreadcrumbsShort {
  display: inline-block;
  justify-content: center;
  height: 40px;
  margin: 16px auto;
  margin-top: 80px;
  padding: 8px 16px;
}

.Link {
  color: #888888;
  text-decoration: none;
}
